<div id="main">

      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
          </div>
        </ol>
      </nav>
      <!-- Breadcumbs end -->
      <!-- About services -->
      <section class="about-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="about-photo imagebox about-services-info">
                <img class="img-fluid rounded shadow" src="/static-assets/images/choose.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="about-info">
                <h2>Our General Services</h2>
                <hr>
                <p>Welcome to Anuvia Salon, where beauty and well-being come together to create a unique experience for our clients. At Anuvia Salon, our dedicated team of experienced professionals is here to take care of you from head to toe. We offer a wide range of high-quality services, including modern haircuts, personalized coloring treatments, manicures and pedicures for impeccable nails, as well as rejuvenating facial and body treatments. </p>
                <p>Our mission is not only to enhance your outer beauty but also to promote a sense of inner relaxation and confidence. Come visit us and discover how Anuvia Salon can make you even more radiant!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About end -->
      <!-- Services start -->
      <section class="services-section shadow">
        <div class="container">
          <div class="services-section-title text-center mb-5">
            <h2 class="mb-4">Our Services</h2>
            <p class="lead mb-4">Experience the excellence in beauty and relaxation at our salon, where every service is carefully crafted to enhance your unique beauty and rejuvenate your mind and body.</p>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services1.jpg" alt="Manicure">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Manicure</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Hand Exfoliation and Moisturization</li>
                  <li class="list-group-item">Nail Cutting and Shaping</li>
                  <li class="list-group-item">Cuticle Treatment</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services2.jpg" alt="Pedicure">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Pedicure</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Foot Exfoliation and Moisturization</li>
                  <li class="list-group-item">Removal of Calluses and Hard Skin</li>
                  <li class="list-group-item">Cuticle Treatment</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services3.jpg" alt="Spa Day">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Spa Day</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Complete day on a Spa</li>
                  <li class="list-group-item">Body Hand and Foot Massage</li>
                  <li class="list-group-item">Spa Therapy</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services4.jpg" alt="Spa Day">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Hair Cut</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Gradient Cut</li>
                  <li class="list-group-item">Peaked Cut</li>
                  <li class="list-group-item">Fringe Cut</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services5.jpg" alt="Spa Day">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Capillary Hydration</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Application of Moisturizing Products</li>
                  <li class="list-group-item">Deep cleaning of hair strands</li>
                  <li class="list-group-item">Hair Nutrition</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card shadow border-0">
                <img class="card-img-top" src="/static-assets/images/services/services6.jpg" alt="Spa Day">
                <div class="card-body text-center">
                  <a href="#" class="text-decoration-none">
                    <h4 class="services-title">Hair Styling</h4>
                  </a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Brushing and Styling</li>
                  <li class="list-group-item">Braids and Hairstyles</li>
                  <li class="list-group-item">Straightening</li>
                </ul>
                <div class="card-body text-center">
                  <a class="btn btn-secondary shadow" href="services.html" role="button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services end -->
      <!-- Appointment start -->
      <section class="appointment-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-6">
              <div class="appointment-info">
                <h2>Make an Appointment</h2>
                <hr>
                <p>Making an appointment at a salon or beauty establishment can significantly improve your experience. It ensures you receive personalized attention, tailored services, and a dedicated slot with your preferred stylist or technician. By scheduling your appointment, you prioritize your self-care and well-being, avoid waiting times, and enjoy a relaxed and efficient salon experience. Its a proactive step towards receiving the quality service and results you desire, providing peace of mind and enhancing your overall satisfaction.</p>
                <a class="btn btn-secondary shadow" href="contact.html" role="button">Make an Appointment</a>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="imagebox">
                <img class="img-fluid rounded shadow float-end" src="/static-assets/images/discounts.jpg" alt="Salon Discounts">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Appointment end -->
    </div>

# <div id="services">
#   <% @services.each do |service| %>
#     <%= render service %>
#     <p>
#       <%= link_to "Show this service", service %>
#     </p>
#   <% end %>
# </div>

# 
