.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-sidebar {
  width: 240px;
  background: var(--main-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar-header h2{
	font-weight: bold;
}

.sidebar-header {
  padding: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.sidebar-nav {
  flex: 1;
  padding: 10px 0;
}

.sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,.08);
  color: var(--main-light);
}

.sidebar-home {
  padding: 15px 20px;
  border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.sidebar-home a {
	color: white;
	text-decoration: none;
}

.sidebar-home a:hover {
	color: var(--main-light);
	text-decoration: none;
}

.sidebar-footer {
  padding: 15px 20px;
  border-top: 1px solid rgba(255,255,255,.1);
}

.admin-content {
	flex: 1;
}

.dashboard-container {
	padding: 20px;
}

.dashboard-title h2 {
	font-weight: bold;
	color: var(--main-dark);
}

.dashboard-body {
  margin-top: 30px;
}

.dashboard-list {
  padding: 15px;
  padding-left: 0;
  border-top: 1px solid var(--main-dark);
	border-bottom: 1px solid var(--main-dark);
  margin-bottom: 10px;
}

.user-image {
  width: 40px;          
  height: 40px;        
  border-radius: 50%;     
  object-fit: cover;       
  display: block;        
}

.mobile-menu-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: var(--main-dark);
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .admin-sidebar {
    position: fixed;
    inset: 0; /* top right bottom left */
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2500;
  }

  .admin-sidebar.open {
    transform: translateX(0);
  }

  .admin-content {
    padding-top: 60px;
  }
}

.close-menu {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}
