version: '3.9'           
services:
  db:                    
    image: postgres:15   
    environment:         
      POSTGRES_USER: musafir_pg
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: anuvia_project
    ports:
      - "5432:5432"      
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:               
