    <div id="main">
      
      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </div>
        </ol>
      </nav>
      <!-- Breadcumbs end -->
      <!-- About start -->
      <section class="about-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="about-photo imagebox about-info">
                <img class="img-fluid rounded shadow" src="/static-assets/images/about.jpg" alt="About Us">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="about-info">
                <h2>Anuvia Spa and Salon</h2>
                <hr>
                <p>Welcome to Anuvia Salon, where beauty and well-being come together to create a unique experience for our clients. At Anuvia Salon, our dedicated team of experienced professionals is here to take care of you from head to toe. We offer a wide range of high-quality services, including modern haircuts, personalized coloring treatments, manicures and pedicures for impeccable nails, as well as rejuvenating facial and body treatments.</p>
                <p>Our mission is not only to enhance your outer beauty but also to promote a sense of inner relaxation and confidence. Come visit us and discover how Anuvia Salon can make you even more radiant!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About end -->
      <!-- Discounts start -->
      <section class="discounts-section shadow">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="discounts-info">
                <h2>Customer-Loyalty Discount</h2>
                <hr>
                <p>Discover the advantages of becoming a loyal customer of Anuvia Salon! Starting now, we are offering exclusive discounts for those who choose excellence in beauty with us repeatedly.</p>
                <p>Our team is dedicated not only to transforming your appearance but also to building strong and lasting relationships. By becoming a loyal customer of Anuvia Salon, you not only receive high-quality treatments but also special benefits such as discounts on selected services and exclusive offers to continuously care for your beauty.</p>
                <a class="btn btn-primary" href="about.html" role="button">Read More</a>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="imagebox discounts-info">
                <img class="img-fluid rounded shadow float-end" src="/static-assets/images/discounts.jpg" alt="Discounts">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Discounts end -->
      <!-- About start -->
      <section class="about-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <div class="about-photo imagebox rounded shadow">
                <img class="img-fluid rounded" src="/static-assets/images/choose.jpg" alt="About Us Image">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="about-info">
                <h2>Why Choose Our Salon?</h2>
                <hr class="my-4">
                <p>Welcome to Anuvia Salon, where beauty and well-being come together to create a unique experience for our clients. At Anuvia Salon, our dedicated team of experienced professionals is here to take care of you from head to toe. We offer a wide range of high-quality services, including modern haircuts, personalized coloring treatments, manicures and pedicures for impeccable nails, as well as rejuvenating facial and body treatments.</p>
                <p>Our mission is not only to enhance your outer beauty but also to promote a sense of inner relaxation and confidence. Come visit us and discover how Anuvia Salon can make you even more radiant!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Choose end -->

    </div>
