
      <div class="dashboard-section">
				<div class="dashboard-container">
          <div class="team-section-title text-center mb-5">
            <h2 class="mb-4">Create New Post</h2>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <%= render 'form' %>
        </div>
        <div class="card-body text-start pt-3">
          <%= link_to "Back", posts_path, class: "btn btn-outline-primary", role: "button" %>
        </div>
      </div>