      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Blog", posts_path %></li>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          </div>
        </ol>
      </nav>
      <!-- Breadcumbs end -->
      <section class="team-section">
        <div class="container">
          <div class="team-section-title text-center mb-5">
            <h2 class="mb-4">Create New Post</h2>
            <hr class="w-50 mx-auto mb-4">
          </div>
          <%= render 'form' %>
        </div>
        <div class="card-body text-start pt-3">
          <%= link_to "Back", posts_path, class: "btn btn-outline-primary", role: "button" %>
        </div>
      </section>