      <div id="main">
				<div class="dashboard-section">
					<div class="dashboard-container">
						<div class="dashboard-title">
							<h2>Edit <%= current_user.name %> Profile</h2>
						</div>
            <%= render 'form' %>
					</div>
				</div>
			</div>
