      <!-- Breadcumbs start -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <div class="container d-flex p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Team</a></li>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          </div>
        </ol>
      </nav>
      <section class="team-section">
        <%= render 'member' %>
        <div class="card-body text-start pt-3">
          <%= link_to "Back", members_path, class: "btn btn-outline-primary", role: "button" %>
        </div>
      </section>